.header{
  background-color: #030B32;
  height: 90px;
  width: 100%;
}

.recipe-card{
  background-color: #EAEAEA;
  margin: 5%;
  width: 270px;
  border-radius: 5px;
  padding: 10px 3px;
}

.container{
  margin: 2% 4%;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}